.characteristics {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 16px 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    margin-bottom: 26px;
  }
}

.characteristics__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.characteristics__legend {
  padding: 0;
  margin-bottom: 12px;
}

.characteristics__top {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 2px;
  }
}

.characteristics__bottom {
  display: flex;
}
