.description__name {
  color: $dark-blue;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 32px;
}

.description__text {
  color: $bluesh-gray;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 28px;
}
