.page {
  height: 100%;
  overflow-x: hidden;

  @media (min-width: $desktop-width) {
    height: 100vh;
    overflow-y: hidden;
  }
}

.page__body {
  font-family: $font-rajdhani;
  font-style: normal;
  font-weight: 500;
  margin: 0 auto;
  min-width: 320px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 44% 1fr;
    column-gap: 40px;
  }
}

.page__main {
  @media (min-width: $desktop-width) {
    height: 100vh;
    overflow-y: scroll;
  }
}
