.page {
  height: 100%;
  overflow-x: hidden;
}

.page__body {
  font-family: $font-rajdhani;
  font-style: normal;
  font-weight: 500;
  margin: 0 auto;
  min-width: 320px;

  @media (min-width: $desktop-width) {
    padding-left: 44.15%;
    width: 100%;
    box-sizing: border-box;
  }
}

.page__main {
  @media (min-width: $desktop-width) {
    margin-top: 56px;
  }
}
