.quantity {
  margin-right: 74px;

  @media (min-width: $tablet-width) {
    min-width: 148px;
    margin-right: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 13px;
  }
}

.quantity__counter {
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity__number {
  color: $bluesh-gray;
  font-size: 24px;
  line-height: 24px;
  width: 40px;
  text-align: center;
  border: none;
  pointer-events: none;
  background-color: transparent;
  padding: 0;
}

.quantity__btn {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  &--minus {
    background-image: url("../img/icons/minus.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--plus {
    background-image: url("../img/icons/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:not(:disabled)::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    top: 50%;
    left: 50%;
    border: 1px solid #e1e6ed;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}
