.services {
  margin-bottom: 40px;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  padding-bottom: 8px;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 16px;
}

.services__accordion {
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  color: $dark-blue;
  background-color: transparent;
  padding: 0;
  border: 0;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url("../img/icons/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--open::after {
    background-image: url("../img/icons/minus.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.services__description {
  font-size: 16px;
  line-height: 24px;
  color: $bluesh-gray;
}

.services__price {
  font-weight: 600;
}
