.slider {
  margin: 0 auto;
  color: $white;
  overflow: hidden;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.slider__item {
  position: relative;
  visibility: hidden;
  opacity: 0;
  grid-row-start: 1;
  grid-column-start: 1;
  transition: opacity 1s ease-out, visibility 0.8s linear;

  &--current {
    visibility: visible;
    opacity: 1;
  }
}

.slider__img-wrap {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, rgba(53, 41, 37, 0.5) 100%);
    mix-blend-mode: multiply;
  }
}

.slider__img {
  background-color: $sandy;
  display: block;
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: top;

  @media (min-width: $desktop-width) {
    min-height: 100vh;
  }
}

.slider__description-wrap {
  position: absolute;
  padding: 0 16px;
  bottom: 90px;

  @media (min-width: $tablet-width) {
    bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    bottom: 97px;
    margin-left: 36px;
  }
}

.slider__name {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 64px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    font-size: 72px;
    line-height: 72px;
  }
}

.slider__slogan {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  opacity: 0.8;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 28px;
  }
}

.slider__bottom {
  position: absolute;
  left: 11px;
  bottom: 23px;
  width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    bottom: 29px;
    margin-left: 36px;
  }
}

.slider__counter {
  display: flex;
  justify-content: space-between;
  width: 70px;
  font-size: 20px;
  line-height: 32px;
}

.slider__controls {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  outline: transparent;
  position: relative;

  &:hover,
  &:focus {
    border-color: $white;
  }

  &:active {
    background-color: $white;

    svg {
      fill: $light-blue;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $white;
  }

  &--next {
    transform: rotateY(180deg);
  }
}

.slider__dash,
.slider__total {
  opacity: 0.5;
}
