.subscription {
  padding-bottom: 16px;
}

.subscription__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: $dark-blue;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 0;
  }
}

.subscription__description {
  font-size: 18px;
  line-height: 28px;
  color: $bluesh-gray;
  opacity: 0.8;
  margin: 0;
  margin-bottom: 28px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}

.subscription__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.subscription__gender-wrap {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 40px;
    align-items: center;

    .subscription__item {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .subscription__legend {
      margin-bottom: 0;
      margin-right: 25px;
    }
  }
}

.subscription__list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--radio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.subscription__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 12px;
  }
}

.subscription__input {
  box-sizing: border-box;
  background-color: rgba(225, 230, 237, 0.2);
  border-color: transparent;
  border-radius: 5px;
  width: 100%;
  height: 44px;
  padding-left: 14px;
  opacity: 1;
  font-family: $font-rajdhani;
  font-style: normal;
  font-weight: 500;
  transition: box-shadow 0.5s ease-in;


  @media (min-width: $tablet-width) {
    width: 456px;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: $bluesh-gray;
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 5px 0 $btn-hover inset;
  }

  &:focus:invalid {
    box-shadow: 0 0 5px 0 #ff0000ba inset;
  }
}

.subscription__legend {
  font-size: 20px;
  line-height: 32px;
  color: $bluesh-gray;
  opacity: 0.8;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.subscription__label {
  font-size: 16px;
  line-height: 24px;
  color: $dark-blue;
}

.subscription__label--radio {
  display: block;
  position: relative;
  padding-left: 28px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border: 1px solid $light-gray;
    border-radius: 50%;
  }
}

.subscription__input-radio:checked + .subscription__label--radio::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: $dark-blue;
  border-radius: 50%;
}

.subscription__input-radio:hover + .subscription__label--radio::before,
.subscription__input-radio:focus + .subscription__label--radio::before {
  opacity: 0.4;
}

.subscription__input-radio:active + .subscription__label--radio::before {
  opacity: 1;
}

.subscription__input-radio:disabled + .subscription__label--radio {
  opacity: 0.25;
}

.subscription__label--checkbox {
  display: block;
  margin-bottom: 16px;
  padding-left: 28px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background-color: $white;
    border: 1px solid $light-gray;
    border-radius: 1px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.subscription__input-checkbox:checked + .subscription__label--checkbox::before,
.subscription__input-checkbox:active + .subscription__label--checkbox::before {
  border: 1px solid $dark-blue;
  background-color: $dark-blue;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 .795 8.847 0 3.536 7.08.856 5.085 0 6.15 3.863 9 10 .795Z' fill='%23fff'/%3E%3C/svg%3E");
}

.subscription__input-checkbox:not(:checked):hover + .subscription__label--checkbox::before,
.subscription__input-checkbox:not(:checked):focus + .subscription__label--checkbox::before {
  border: 1px solid $dark-blue;
  background-color: $white;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 .795 8.847 0 3.536 7.08.856 5.085 0 6.15 3.863 9 10 .795Z' fill='%23E1E6ED'/%3E%3C/svg%3E");
  opacity: 1;
}

.subscription__input-checkbox:hover + .subscription__label--checkbox::before,
.subscription__input-checkbox:focus + .subscription__label--checkbox::before {
  opacity: 0.8;
}

.subscription__input-checkbox:disabled + .subscription__label--checkbox::before {
  border: 1px solid $dark-blue;
  background-color: $dark-blue;
  opacity: 0.25;
  background-image: none;
  pointer-events: none;
}

.subscription__btn {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
