@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rajdhaniregular.woff2") format("woff2"), url("../fonts/rajdhaniregular.woff") format("woff");
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rajdhanimedium.woff2") format("woff2"), url("../fonts/rajdhanimedium.woff") format("woff");
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/rajdhanisemibold.woff2") format("woff2"), url("../fonts/rajdhanisemibold.woff") format("woff");
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rajdhanibold.woff2") format("woff2"), url("../fonts/rajdhanibold.woff") format("woff");
}
