.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: $desktop-width) {
    padding: 0 52px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}
