.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  box-sizing: border-box;
  // width: ;
  margin: 0 auto;
}

a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
}
