$font-rajdhani:"Rajdhani","Arial", sans-serif;
$tablet-width: 720px;
$desktop-width: 1280px;
$white:#ffffff;
$sandy:#c9b8a8;
$bluesh-gray:#8a94a6;
$dark-blue:#192b3f;
$light-gray: #e1e6ed;
$light-blue:#3d5876;
$img-background:#c4c4c4;
$btn-hover:#2e4055;
$btn-active:#3b536d;
